<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<meta charset="UTF-8" content="">
	<title>第零世界运维系统</title>
	<link rel="SHORTCUT ICON" type="text/css" href="{% static 'img/favicon.ico' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-table.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap-table.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap-table-zh-CN.js' %}"></script>
</head>
<body>
		<h1 class="h1">欢迎来到第零世界运维系统</h1>
		<div class="main">
		<div class="left fl">
			<ul class="ul">
				<li class="li"><a href="/server_list/index">服务器列表</a></li>
				<li class="li"><a href="/log/search_break_log">崩溃日志查询</a></li>
				<li class="li"><a href="/config/config_pattern">配置</a></li>
				<li class="li"><a href="/cloud_user/cloud_user">云账户列表</a></li>
			</ul>
		</div>
		<div class="right fl">
			<h1 class="right_title">
				<a href="/server_list/index">
				<img src="{% static 'img/return.jpeg' %}" style="width:30px;height=20px;" alt="返回"/></a>服务器列表--服务器详情</h1>
			<div class="right_count">
				<a href="server_info">基本信息</a>
				<a href="break_log"><u>崩溃日志</u></a>
				<a href="data_analyse">数据分析</a>
				日期
				<input type="date" id="start"/>
				到
				<input type="date" id="end"/>
				时间
				<input type="time" id="time_start"/>
				到
				<input type="time" id="time_end"/>

				<button type="button" value="" id="search">查询</button>
			</div>
			<div class="right_info_operation">
				<table class="table text-nowrap" id="table_page">
				</table>
			</div>
		</div>
		</div>
	</body>
<script type="text/javascript">
	$(document).ready(function () {
	function merge_data(data, config){
      	    for(i in data){
            data[i].CPU = (data[i].CPU * config[i].cpu_instance / config[i].cpu_allocate).toFixed(2) + '%/' +
            parseFloat(data[i].CPU).toFixed(2) + '%-' + (data[i].CPU * config[i].cpu_instance / 100).toFixed(2) + '/' +
            config[i].cpu_allocate + '/' + config[i].cpu_instance
            data[i].memory = (data[i].memory * config[i].memory_instance / config[i].memory_allocate).toFixed(2) + '%/' +
            parseFloat(data[i].memory).toFixed(2) + '%-' + (data[i].memory * config[i].memory_instance / 100).toFixed(2) + 'G/' +
            config[i].memory_allocate + 'G/' + config[i].memory_instance + 'G'
            if(parseFloat(data[i].send_flow) > 1024 * 1024){
                data[i].send_flow = (data[i].send_flow / 1024 / 1024 / config[i].flow_allocate).toFixed(2) + '%/' +
                (data[i].send_flow / 1024 / 1024 / config[i].flow_instance).toFixed(2) + '%-' + data[i].send_flow + 'MB/' +
                config[i].flow_allocate + 'MB/' + config[i].flow_instance + 'MB'
            }else if(parseFloat(data[i].send_flow) > 1024){
                data[i].send_flow = (data[i].send_flow / 1024 / config[i].flow_allocate).toFixed(2) + '%/' +
                (data[i].send_flow / 1024 / config[i].flow_instance).toFixed(2) + '%-' + data[i].send_flow + 'KB/' +
                config[i].flow_allocate * 1024 + 'KB/' + config[i].flow_instance * 1024 + 'KB'
            }else{
                data[i].send_flow = (data[i].send_flow / config[i].flow_allocate / 1024 / 1024).toFixed(2) + '%/' +
                (data[i].send_flow / config[i].flow_instance / 1024 / 1024).toFixed(2) + '%-' + data[i].send_flow + 'B/' +
                config[i].flow_allocate * 1024 * 1024 + 'B/' + config[i].flow_instance * 1024 * 1024 + 'B'
            }
            if(parseFloat(data[i].recv_flow) > 1024 * 1024){
                data[i].recv_flow = (data[i].recv_flow / 1024 / 1024 / config[i].flow_allocate).toFixed(2) + '%/' +
                (data[i].recv_flow / 1024 / 1024 / config[i].flow_instance).toFixed(2) + '%-' + data[i].recv_flow + 'MB/' +
                config[i].flow_allocate + 'MB/' + config[i].flow_instance + 'MB'
            }else if(parseFloat(data[i].recv_flow) > 1024){
                data[i].recv_flow = (data[i].recv_flow / 1024 / config[i].flow_allocate).toFixed(2) + '%/' +
                (data[i].recv_flow / 1024 / config[i].flow_instance).toFixed(2) + '%-' + data[i].recv_flow + 'KB/' +
                config[i].flow_allocate * 1024 + 'KB/' + config[i].flow_instance * 1024 + 'KB'
            }else{
                data[i].recv_flow = (data[i].recv_flow / config[i].flow_allocate / 1024 / 1024).toFixed(2) + '%/' +
                (data[i].recv_flow / config[i].flow_instance / 1024 / 1024).toFixed(2) + '%-' + data[i].recv_flow + 'B/' +
                config[i].flow_allocate * 1024 * 1024 + 'B/' + config[i].flow_instance * 1024 * 1024 + 'B'
            }
            }
      	}
		var result =  {{ break_data | safe }}
		var config = {{ server_config | safe }}
		merge_data(result, config)
		$('#table_page').bootstrapTable('destroy');
		$("#table_page").bootstrapTable({
			columns:[{field:'time',title:'时间'},
					{field:'player',title:'在线人数/最大人数'},{field:'CPU',title:'CPU占用率'},
					{field:'memory',title:'内存占用'},{field:'send_flow',title:'发送流量占用'},
					{field:'recv_flow',title:'接收流量占用'},
					{field:'operate',title:'操作',formatter: function (value,row) {
					return '<a href="' + "download_log" + '">' + "下载日志"  + '</a>';}},],
			onClickRow:log,
			data:result,
			height:520,
			method: 'get',
			pageSize: 10,
			pageNumber: 1,
			pageList: [],
			cache: false,
			striped: true,
			pagination: true,
			paginationFirstText: "首页",
			paginationPreText:"上一页",
			paginationNextText:"下一页",
			paginationLastText:"最后一页",
			sidePagination: 'client',
			search: false,
			showRefresh: false,
			showExport: false,
			showFooter: false,
			// exportTypes: ['csv', 'txt', 'xml'],
			clickToSelect: true,
		});
		$("#search").click(function(){
			var start = $("#start").val();
			var end = $("#end").val();
			var time_start = $("#time_start").val();
			var time_end = $("#time_end").val();
			$.post('/server_list/server_search',{'start':start,'end':end,'time_start':time_start,'time_end':time_end},function(ret){
				var result = JSON.parse(ret)
				var data1 = result['fina']
				var config = result['server_config']
				merge_data(data1, config)
				$('#table_page').bootstrapTable('destroy');
				$("#table_page").bootstrapTable({
					columns:[{field:'time',title:'时间'},
						{field:'player',title:'在线人数/最大人数'},{field:'CPU',title:'CPU占用率'},
						{field:'memory',title:'内存占用'},{field:'send_flow',title:'发送流量占用'},
						{field:'recv_flow',title:'接收流量占用'},
						{field:'operate',title:'操作',formatter: function (value,row) {
						return '<a href="' + "download_log" + '">' + "下载日志"  + '</a>';}},],
					data:data1, //通过ajax返回的数据
					onClickRow:log,
					height:520,
					method: 'post',
					pageSize: 10,
					pageNumber: 1,
					pageList: [],
					cache: false,
					striped: true,
					pagination: true,
					paginationFirstText: "首页",
					paginationPreText:"上一页",
					paginationNextText:"下一页",
					paginationLastText:"最后一页",
					sidePagination: 'client',
					search: false,
					showRefresh: false,
					showExport: false,
					showFooter: false,
					// exportTypes: ['csv', 'txt', 'xml'],
					clickToSelect: true,
				});
			})
		})
		function log(row){
		$.post('log',{'time':row.time},function(ret){
		})
		}
	});
</script>
</html>
