<!DOCTYPE html>
<html lang="en">
{% load static %}
<html>
<head>
	<meta charset="UTF-8">
	<title>第零世界运维系统</title>
	<link rel="SHORTCUT ICON" type="text/css" href="{% static 'img/favicon.ico' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-table.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap-table.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap-table-zh-CN.js' %}"></script>
</head>
<body>
	<h1 class="h1">欢迎来到第零世界运维系统</h1>
	<div class="main">
		<div class="left fl">
			<ul class="ul">
				<li class="li"><a href="/server_list/index">服务器列表</a></li>
				<li class="li"><a href="/log/search_break_log">崩溃日志查询</a></li>
				<li class="li"><a href="/config/config_pattern">配置</a></li>
				<li class="li"><a href="/cloud_user/cloud_user">云账户列表</a></li>
			</ul>
		</div>
		<div class="right fl">
			<h1 class="right_title">配置</h1>
			<div class="config_select">
				<span class="config_four"><a href="config_pattern">模式</a></span>
				<span class="config_four"><a href="config_version"><u>版本</u></a></span>
				<span class="config_four"><a href="config_run_company">运营商</a></span>
				<span class="config_four"><a href="config_plat">平台</a></span>
			</div>
			<a href="/config/config_add_version"><input type="button" value="添加" /></a>
			<div class="right_info_operation">
				<table class="table" id="table_page"></table>
			</div>
		</div>
	</div>
</body>
 <script>
$(document).ready(function(){
		var data1 = {{ data | safe }}
		window.operateEvents = {
				'click #edit':function(e,value,row,index){
						$.post("/config/get_version_name",{'version_name':row.version_name},function(ret){

						})
				},
				'click #delete':function(e,value,row,index){
						$.post("/config/version_delete",{'version_name':row.version_name},function(ret){

						})
				}
		}
		$('#table_page').bootstrapTable('destroy');
		$("#table_page").bootstrapTable({
				columns:[{field:'version_name',title:'版本名称'},
						{field:'operate',title:'操作',
						events:"operateEvents",
						formatter:operateFormatter,
						},],
				//onClickRow:break_log,
				data:data1, //通过ajax返回的数据
				height:520,
				method: 'get',
				pageSize: 10,
				pageNumber: 1,
				pageList: [],
				cache: false,
				striped: true,
				pagination: true,
				paginationFirstText: "首页",
                paginationPreText:"上一页",
                paginationNextText:"下一页",
                paginationLastText:"最后一页",
				sidePagination: 'client',
				search: false,
				showRefresh: false,
				showExport: false,
				showFooter: false,
				// exportTypes: ['csv', 'txt', 'xml'],
				clickToSelect: true,
				checkbox:true,
				});
				function operateFormatter(row,index,value){
				return [
                        '<a href="/config/config_version_edit"><button type="button" id="edit" style="margin-right:15px;">编辑</button></a>',
                        '<a href="/config/config_version"><button type="button" id="delete" style="margin-right:15px;">删除</button></a>',
                                        ].join('');
				}
		})
</script>
</html>
